{
  "presets": [
    [
      "@superdispatch/babel-preset",
      {
        "loose": true,
        "targets": "esmodules",
        "optimize": { "runtime": false, "devExpressions": true }
      }
    ]
  ]
}
